# The access token used for scanning the GitHub organisation
github_access_token = "string"

# Google OAuth credentials for allowing Jenkins to do GSuite login
google_client_id = "string"
google_client_secret = "string"

# Jenkins password for pulling / pushing to the private PyPI server
pypi_password = "string"

# HA shared secret for registry
registry_ha_secret = "string"

# Credentials for pull request PostgreSQL instance
pull_request_postgresql_database_name = "string"
pull_request_postgresql_database_username = "string"
pull_request_postgresql_database_password = "string"
pull_request_postgresql_database_admin_password = "string"

# Credentials for the Gateway API for pull requests
pull_request_gateway_api_key = "string"

# Credentials for pull request web services
pull_request_jwt_key = "string"

# Credentials for Erlang cookies for pull requests
pull_request_erlang_cookie_iris = "string"