# The access token used for scanning the GitHub organisation
github_access_token = "string"

# Google OAuth credentials for allowing Jenkins to do GSuite login
google_client_id = "string"
google_client_secret = "string"

# Jenkins password for pulling / pushing to the private PyPI server
pypi_password = "string"

# HA shared secret for registry
registry_ha_secret = "string"

# Secret for the Pull Request Service webhook
pull_request_service_secret = "string"